In [21]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

import wrangle as w

In [22]:
df = w.prepare_df()
df.shape

(900222, 10)

In [17]:
def specify_staff(df, staff_list):
    df['staff'] = df['user_id'].apply(lambda x: 1 if x in staff_list else 0)
    return df
# accesses within cohort
def specify_timeframe(df, date, start_date, end_date):
    df['outside_cohort'] = df.apply(lambda row: 1 if row[date] < row[start_date] or row[date] > row[end_date] else 0, axis=1)
    return df
def categorize_field(data, field_name):
    if field_name not in data.columns:
        raise KeyError(f"Column '{field_name}' not found in DataFrame.")
    
    categories = {
        1: 'Web Development 1.0',
        2: 'Web Development 2.0',
        3: 'Data Science'
    }
    
    def categorize(value):
        return categories.get(value, 'Unknown')
    
    data['program_name'] = data[field_name].apply(categorize)
    return data

In [18]:
def q3(df):
    # staff_list = list(
    staff_list = [ 53, 314,  40,  64,  11, 211,   1, 312, 146, 248, 370, 397, 404,
       257, 428, 461,  37, 514, 539, 545, 546, 572, 315,  41, 592, 618,
       620, 521, 652, 502, 653, 480, 738, 742, 745, 813, 430, 816, 581,
       854, 855, 744, 893, 148, 894, 513, 630, 308, 951, 953, 980]
#     staff_list = list(df[df.staff == 1].user_id.unique())
    
    df = specify_staff(df, staff_list)

    # whether they accesed during their cohort
    df = specify_timeframe(df, "dates", "start_date", "end_date")

    # list of student ids  
    students = df[df.staff == 0]
    student_ids = list(students.user_id.unique())

    # students who accessed curriculum outside cohort: 86900 times and 541 students
    student_accessed_outside_cohort = students[students.outside_cohort == 1]

    # students who accessed curriculum during cohort: 692348 times and 790 students
    student_accessed_during_cohort = students[students.outside_cohort == 0]

    access_curr = list(student_accessed_during_cohort.user_id.unique())

    # list of student user ids that did not access curriculum during cohort
    not_access_curr = [num for num in student_ids if num not in access_curr]

    # students that did not access curriculum within cohort 
    stu_not_access_curr_df = students[students['user_id'].isin(not_access_curr)]


    stu_not_access_curr_df = categorize_field(stu_not_access_curr_df, "program_id")
    stu_nac_df = stu_not_access_curr_df[["program_name", "program_id", "user_id"]].drop_duplicates()

    return stu_nac_df

In [19]:
q3(df)

               program_name  program_id  user_id
72      Web Development 2.0         2.0       21
112     Web Development 2.0         2.0       26
553     Web Development 1.0         1.0       50
602     Web Development 1.0         1.0       51
1273    Web Development 1.0         1.0       60
...                     ...         ...      ...
771896  Web Development 2.0         2.0      853
785492  Web Development 2.0         2.0      857
792689         Data Science         3.0      859
796040  Web Development 2.0         2.0      860
882086  Web Development 1.0         1.0      952

[140 rows x 3 columns]

In [23]:
# dropping program_id 4
df = df[df['program_id'] != 4]

In [24]:
df.head()

,cohort_id,cohort_name,start_date,end_date,program_id,dates,time,endpoint,user_id,ip
0,8.0,Hampton,2015-09-22,2016-02-06,1.0,2018-01-26,09:55:03,/,1,97.105.19.61
1,8.0,Hampton,2015-09-22,2016-02-06,1.0,2018-01-26,09:56:02,java-ii,1,97.105.19.61
2,8.0,Hampton,2015-09-22,2016-02-06,1.0,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61
3,8.0,Hampton,2015-09-22,2016-02-06,1.0,2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61
4,22.0,Teddy,2018-01-08,2018-05-17,2.0,2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61

In [25]:
# staff_list = list(
staff_list = [ 53, 314,  40,  64,  11, 211,   1, 312, 146, 248, 370, 397, 404,
       257, 428, 461,  37, 514, 539, 545, 546, 572, 315,  41, 592, 618,
       620, 521, 652, 502, 653, 480, 738, 742, 745, 813, 430, 816, 581,
       854, 855, 744, 893, 148, 894, 513, 630, 308, 951, 953, 980]

In [26]:
# specifies if user is staff
# def specify_staff(df):
#     df['staff'] = df['cohort_name'].apply(lambda x: 1 if x == 'Staff' else 0)
#     return df
# # create a column that specifies whether staff or non staff -- 51 staff
# df = specify_staff(df)



def specify_staff(df, staff_list):
    df['staff'] = df['user_id'].apply(lambda x: 1 if x in staff_list else 0)
    return df
# accesses within cohort
def specify_timeframe(df, date, start_date, end_date):
    df['outside_cohort'] = df.apply(lambda row: 1 if row[date] < row[start_date] or row[date] > row[end_date] else 0, axis=1)
    return df

df = specify_staff(df, staff_list)

# whether they accesed during their cohort
df = specify_timeframe(df, "dates", "start_date", "end_date")

In [27]:
staff_list = list(df[df.staff == 1].user_id.unique())

In [28]:
# accesses within cohort
def specify_timeframe(df, date, start_date, end_date):
    df['outside_cohort'] = df.apply(lambda row: 1 if row[date] < row[start_date] or row[date] > row[end_date] else 0, axis=1)
    return df

df = specify_timeframe(df, "dates", "start_date", "end_date")

In [29]:
# students (observations: 816191 ) and staff observations: 51
students = df[df.staff == 0] 
staff = df[df.staff == 1] 
staff.user_id.nunique()

51

In [30]:
# create year column
df["year"] = df.start_date.dt.year

# Question 3: Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

Yes there are 139 students who were enrolled who did not access the curriculum, there are 31 cohorts in total and vary from years 2016, 2017, 2014, 2015, 2018, 2019, 2020. 

* 4 data science students did not access curriculum
* 135 web dev 
* 692348 accessed inside cohort  
* 86900 accessed outside cohort -- 16455 were students who were not active during are now viewing curriculum

In [31]:
# list of student ids  
students = df[df.staff == 0]
student_ids = list(students.user_id.unique())

# students who accessed curriculum outside cohort: 86900 times and 541 students
student_accessed_outside_cohort = students[students.outside_cohort == 1]

In [32]:
# number of students # 929 students - 790 = (139 student) who did not actively use curriculum when in the program
students.user_id.nunique()

929

In [33]:
# students who accessed curriculum outside cohort: 86900 times and 541 students
student_accessed_outside_cohort = students[students.outside_cohort == 1]

student_accessed_outside_cohort.user_id.nunique()
student_accessed_outside_cohort.shape[0]

86900

In [34]:
# students who accessed curriculum during cohort: 692348 times and 790 students
student_accessed_during_cohort = students[students.outside_cohort == 0]

access_curr = list(student_accessed_during_cohort.user_id.unique())

In [35]:
student_accessed_during_cohort

,cohort_id,cohort_name,start_date,end_date,program_id,dates,time,endpoint,user_id,ip,staff,outside_cohort,year
4,22.0,Teddy,2018-01-08,2018-05-17,2.0,2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61,0,0,2018.0
5,22.0,Teddy,2018-01-08,2018-05-17,2.0,2018-01-26,09:56:41,javascript-i/loops,2,97.105.19.61,0,0,2018.0
6,22.0,Teddy,2018-01-08,2018-05-17,2.0,2018-01-26,09:56:46,javascript-i/conditionals,3,97.105.19.61,0,0,2018.0
7,22.0,Teddy,2018-01-08,2018-05-17,2.0,2018-01-26,09:56:48,javascript-i/functions,3,97.105.19.61,0,0,2018.0
8,22.0,Teddy,2018-01-08,2018-05-17,2.0,2018-01-26,09:56:59,javascript-i/loops,2,97.105.19.61,0,0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
900209,135.0,Marco,2021-01-25,2021-07-19,2.0,2021-04-21,16:36:09,jquery/personal-site,869,136.50.98.51,0,0,2021.0
900210,138.0,Neptune,2021-03-15,2021-09-03,2.0,2021-04-21,16:36:34,html-css/css-ii/bootstrap-grid-system,948,104.48.214.211,0,0,2021.0
900211,134.0,Luna,2020-12-07,2021-06-08,2.0,2021-04-21,16:37:48,java-iii,834,67.11.50.23,0,0,2020.0
900212,134.0,Luna,2020-12-07,2021-06-08,2.0,2021-04-21,16:38:14,java-iii/servlets,834,67.11.50.23,0,0,2020.0
900216,135.0,Marco,2021-01-25,2021-07-19,2.0,2021-04-21,16:41:51,javascript-i/bom-and-dom/dom,875,24.242.150.231,0,0,2021.0

In [36]:
# list of student user ids that did not access curriculum during cohort
not_access_curr = [num for num in student_ids if num not in access_curr]
len(not_access_curr)

139

In [37]:
student_accessed_outside_cohort

,cohort_id,cohort_name,start_date,end_date,program_id,dates,time,endpoint,user_id,ip,staff,outside_cohort,year
72,16.0,Niagara,2016-10-26,2017-03-09,2.0,2018-01-26,10:59:02,index.html,21,71.137.146.71,0,1,2016.0
73,16.0,Niagara,2016-10-26,2017-03-09,2.0,2018-01-26,10:59:06,java-i,21,71.137.146.71,0,1,2016.0
112,18.0,Pinnacles,2017-03-27,2017-07-20,2.0,2018-01-26,11:36:27,/,26,97.105.19.61,0,1,2017.0
113,18.0,Pinnacles,2017-03-27,2017-07-20,2.0,2018-01-26,11:36:35,javascript-i,26,97.105.19.61,0,1,2017.0
116,18.0,Pinnacles,2017-03-27,2017-07-20,2.0,2018-01-26,11:36:38,javascript-i/functions,26,97.105.19.61,0,1,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
900093,59.0,Darden,2020-07-13,2021-01-12,3.0,2021-04-21,15:20:12,classification/classical_programming_vs_machin...,692,96.8.130.134,0,1,2020.0
900094,59.0,Darden,2020-07-13,2021-01-12,3.0,2021-04-21,15:20:12,classification/scale_features_or_not.svg,692,96.8.130.134,0,1,2020.0
900095,59.0,Darden,2020-07-13,2021-01-12,3.0,2021-04-21,15:20:14,classification/project,692,96.8.130.134,0,1,2020.0
900096,59.0,Darden,2020-07-13,2021-01-12,3.0,2021-04-21,15:20:18,classification/acquire,692,96.8.130.134,0,1,2020.0
900191,62.0,Jupiter,2020-09-21,2021-03-30,2.0,2021-04-21,16:30:30,appendix,771,172.125.226.175,0,1,2020.0

In [38]:
def q3(df):
    staff_list = list(df[df.staff == 1].user_id.unique())
    
    df = specify_staff(df, staff_list)

    # whether they accesed during their cohort
    df = specify_timeframe(df, "dates", "start_date", "end_date")

    # list of student ids  
    students = df[df.staff == 0]
    student_ids = list(students.user_id.unique())

    # students who accessed curriculum outside cohort: 86900 times and 541 students
    student_accessed_outside_cohort = students[students.outside_cohort == 1]

    # students who accessed curriculum during cohort: 692348 times and 790 students
    student_accessed_during_cohort = students[students.outside_cohort == 0]

    access_curr = list(student_accessed_during_cohort.user_id.unique())

    # list of student user ids that did not access curriculum during cohort
    not_access_curr = [num for num in student_ids if num not in access_curr]

    # students that did not access curriculum within cohort 
    stu_not_access_curr_df = students[students['user_id'].isin(not_access_curr)]


    stu_not_access_curr_df = categorize_field(stu_not_access_curr_df, "program_id")
    stu_nac_df = stu_not_access_curr_df[["program_name", "program_id", "user_id"]].drop_duplicates()

    return stu_nac_df

In [39]:
test = q3(df)
plot_stacked_bar(
    test,
    "program_name",
    "program_id",
    "Users That Only Accessed the Curriculum Outside of Their Cohort",
    "Number of Users",
    "Programs")

NameError: name 'plot_stacked_bar' is not defined

In [44]:
# students that did not access curriculum within cohort 
stu_not_access_curr_df = students[students['user_id'].isin(result)]
stu_not_access_curr_df.user_id.nunique()

array([ 21,  26,  50,  51,  60,  66,  67,  68,  69,  70,  71,  72,  75,
        76,  77,  80,  81,  82,  83,  84,  85,  87,  90,  91,  92,  93,
        94,  95,  96,  97,  98, 101, 102, 104, 105, 106, 107, 108, 109,
       110, 112, 113, 114, 115, 139, 140, 141, 144, 147, 149, 150, 151,
       153, 156, 161, 162, 163, 164, 165, 167, 168, 169, 170, 172, 173,
       174, 175, 177, 178, 179, 180, 181, 209, 210, 212, 214, 216, 217,
       241, 242, 243, 244, 245, 246, 252, 254, 255, 279, 280, 281, 283,
       284, 285, 286, 311, 313, 316, 318, 319, 322, 348, 396, 398, 399,
       401, 402, 405, 427, 459, 462, 463, 464, 465, 486, 573, 574, 593,
       610, 611, 646, 647, 649, 650, 651, 740, 746, 777, 778, 779, 786,
       787, 809, 817, 852, 853, 857, 859, 860, 952])

In [41]:
# web dev 81 from program 1
wd_sna = stu_not_access_curr_df[stu_not_access_curr_df.program_id == 1]
wd_sna.user_id.nunique()

81

In [42]:
# web dev 54 from program 2
wd_sna = stu_not_access_curr_df[stu_not_access_curr_df.program_id == 2]
wd_sna.user_id.nunique()

54

In [43]:
# ds students that did not access during program - 4 data science students did not access curriculum
ds_sna = stu_not_access_curr_df[stu_not_access_curr_df.program_id == 3]
ds_sna.user_id.nunique()

4

In [ ]:
def categorize_field(data, field_name):
    if field_name not in data.columns:
        raise KeyError(f"Column '{field_name}' not found in DataFrame.")
    
    categories = {
        1: 'Web Development 1.0',
        2: 'Web Development 2.0',
        3: 'Data Science'
    }
    
    def categorize(value):
        return categories.get(value, 'Unknown')
    
    data['program_name'] = data[field_name].apply(categorize)
    return data


stu_not_access_curr_df = categorize_field(stu_not_access_curr_df, "program_id")
stu_nac_df = stu_not_access_curr_df[["program_name", "program_id", "user_id"]].drop_duplicates()

In [ ]:
def plot_stacked_bar(df,yaxis,legend,title,xlabel,ylabel,limit=0,legendnames=None,figsize=None, palette="Pastel1"):
    """
    Generates a stacked horizontal bar plot based on the given DataFrame and parameters.

    Args:
        df (pandas.DataFrame): The DataFrame containing the data to be plotted.
        legend (str): The column name in the DataFrame representing the legend/category.
        limit (int): The maximum number of categories to include in the plot. If there are more categories than the limit,
            the excess categories will be grouped under the "Other" category.
        yaxis (str): The column name in the DataFrame representing the y-axis values.
        palette (str or list): The color palette to use for the plot. It can be a named seaborn palette or a list of colors.
        figsize (tuple): The figure size (width, height) of the plot.
        legendnames (list or None): Optional. The list of legend/category names to use for labeling the plot legend.
            If None, the unique values from the 'legend' column will be used.
        title (str or None): Optional. The title of the plot. If None, no title will be displayed.
        ylabel (str or None): Optional. The label for the y-axis. If None, no label will be displayed.
        xlabel (str or None): Optional. The label for the x-axis. If None, no label will be displayed.

    Returns:
        None: The plot is displayed using matplotlib.pyplot.show().
    """
    lvalues = df.loc[:,legend]
    if limit > 0 and limit < len(lvalues.unique()):
        lvcounts = lvalues.value_counts().reset_index()
        lcats =  list(lvcounts.loc[:,'index'][:limit])
        df = trim_legend(df,legend,lcats)
        lcats.append("Other")
    else:
        lcats = list(lvalues.value_counts().reset_index().loc[:,'index'].unique())

    ycats = df.loc[:,yaxis].sort_values(ascending=False).unique()
    myOrd = df.loc[:,legend].replace({k: v for v, k in enumerate(lcats)})
    myOrd.value_counts()
    data= {}
    for ndx in range(0,len(ycats)):
        data[ycats[ndx]]= myOrd[df.loc[:,yaxis] == ycats[ndx]].dropna().value_counts()

    sns.set_palette(palette)
    plotdata = pd.DataFrame(data).T
#     plotdata = Tpose.div(Tpose.sum(axis=1), axis=0) * 100

    plotdata.plot(kind='barh',figsize=figsize, stacked=True)
    plt.legend((lcats,legendnames)[legendnames!=None], bbox_to_anchor=(1.05, 1)).remove()
    plt.title(title)
    plt.ylabel(ylabel)
    plt.xlabel(xlabel)
    plt.show()

In [ ]:
plot_stacked_bar(
    stu_nac_df,
    "program_name",
    "program_id",
    "Users That Only Accessed the Curriculum Outside of Their Cohort",
    "Number of Users",
    "Programs")

In [ ]:
stu_not_access_curr_df.program_id.unique()

In [ ]:
# cohorts of students that did not access curriculum
stu_not_access_curr_df.cohort_name.unique()

In [ ]:
# number cohorts of students that did not access curriculum -- 32 cohorts
stu_not_access_curr_df.cohort_name.nunique()

In [ ]:
# years of students that did not access curriculum -- applies to 2016, 2017., 2014., 2015., 2018., 2019., 2020
stu_not_access_curr_df.year.unique()

In [ ]:
# applies to programs 1, 2, 3
stu_not_access_curr_df.program_id.unique()

In [ ]:
stu_not_access_curr_df

In [ ]:
def q3():
    # list of student ids  
    students = df[df.staff == 0]
    student_ids = list(students.user_id.unique())
    # students who accessed curriculum during cohort: 692348 times and 790 students
    student_accessed_during_cohort = students[students.outside_cohort == 0]

    access_curr = list(student_accessed_during_cohort.user_id.unique())

    # list of student user ids that did not access curriculum during cohort
    not_access_curr = [num for num in student_ids if num not in access_curr]

    # students that did not access curriculum within cohort 
    stu_not_access_curr_df = students[students['user_id'].isin(not_access_curr)]


`users created over years: 938` 

`student: 930`

`staff: 51`

`unique user ids: 981` 

`user_ids that were to multiple cohorts: 8`

# Question 6: What topics are grads continuing to reference after graduation and into their jobs (for each program)?

In [ ]:
def saoc_df(df):
    '''
    Filter the DataFrame to return students who accessed outside their cohort.

    Parameters:
        df (pandas.DataFrame): The input DataFrame containing student data.

    Returns:
        pandas.DataFrame: A DataFrame containing students who accessed outside their cohort.
    '''
    # list of student ids  
    students = df[df.staff == 0]
    student_ids = list(students.user_id.unique())

    student_accessed_outside_cohort = students[students.outside_cohort == 1]
    
    # Remove 'content/' from values in 'endpoint'
    student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].str.replace('content/', '')
    
    # Remove '/' and everything afterwards 
    student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].str.split('/').str[0]
    
    # replace nulls with 'home'
    student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].fillna('home')
    
    # program_id 1
    wd1_oc = student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 1]
    
    # program_id 2
    wd2_oc =student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 2]

    # program_id 3
    ds_oc = student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 3]
    
    return wd1_oc, wd2_oc, ds_oc

In [ ]:
student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].str.replace('content/', '')

In [ ]:
# Remove 'content/' from values in 'endpoint'
student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].str.split('/').str[0]

In [ ]:
# Remove 'content/' from values in 'endpoint'
student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].fillna('home')

In [ ]:
# program_id 1 Webdev 1 outside cohort
wd1_oc = student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 1]

In [ ]:
wd2_oc =student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 2]

In [ ]:
ds_oc = student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 3]

In [ ]:
student_accessed_outside_cohort.to_csv("saoc.csv")

In [ ]:
wd1_oc.shape

# web dev 1

In [ ]:
# seperate programs
wd1_oc, wd2_oc, ds_oc = saoc_df(df)

In [ ]:
def webdev1_ml(wd1_oc):
    
    # most common lesson
    wd1_mc_df = pd.DataFrame(wd1_oc.endpoint.value_counts().head()).reset_index()
#     wd1_mc_df.columns =[["lesson", "occurrences"]]
    # removed not lessons
    wd1_oc = wd1_oc[~wd1_oc.endpoint.isin(['search', 'introduction-to-javascript.html'])]

    # create df of least common lessons
    wd1_lc_df = pd.DataFrame(wd1_oc.endpoint.value_counts()).reset_index()[:27].sort_values(by = "endpoint", ascending=True).head()
#     wd1_lc_df.columns =[["lesson", "occurrences"]]
    return wd1_mc_df, wd1_lc_df

In [ ]:
wd1_mc_df, wd1_lc_df = webdev1_ml(wd1_oc)

In [ ]:
wd1_lc_df

In [ ]:
def webdev_viz(mc, lc):
    # Create two separate subplots
    fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(8, 6))


    # Plot for mc
    ax1.plot(mc['index'], mc['endpoint'])
    ax1.set_xlabel('Lessons')
    ax1.set_ylabel('Occurences')
    ax1.set_title('Most Common Lessons that Web Development Students Accessed Outside of their Cohort')


    # Plot for lc
    ax2.plot(lc['index'], lc['endpoint'])
    ax2.set_xlabel('Lessons')
    ax2.set_ylabel('Occurences')
    ax2.set_title('Least Common Lessons that Web Development Students Accessed Outside of their Cohort')



    # Adjust spacing between subplots
    plt.tight_layout()

    # Display the plots
    plt.show()

In [ ]:
webdev_viz(wd1_mc_df, wd1_lc_df)

In [ ]:
wd1_mc_df = pd.DataFrame(wd1_oc.endpoint.value_counts().head()).reset_index()

In [ ]:
# removed not lessons
wd1_oc = wd1_oc[~wd1_oc.endpoint.isin(['search', 'introduction-to-javascript.html'])]

# create df of least common lessons
wd1_ls_df = pd.DataFrame(wd1_oc.endpoint.value_counts()).reset_index()[:27].sort_values(by = "endpoint", ascending=True).head()

# webdev 2.0

In [ ]:
def webdev2_ml(wd2_oc):
    '''
    Analyze web development lessons and return the most common and least common lessons.

    Parameters:
        wd1_oc (pandas.DataFrame): The input DataFrame containing web development lesson data.

    Returns:
        tuple: A tuple containing two DataFrames:
            - The most common lessons DataFrame with columns 'Lesson' and 'Occurrences'.
            - The least common lessons DataFrame with columns 'Lesson' and 'Occurrences'.
    '''
    
    # most common
    # removing blanks and getting top 5 
    wd2_oc = wd2_oc[wd2_oc.endpoint != '']
    wd2_mc_df = pd.DataFrame(wd2_oc.endpoint.value_counts().head()).reset_index()
    # least common df
    wd2_oc = wd2_oc[~wd2_oc.endpoint.isin(['further-reading', 'login', 'setup', 'introduction', '2.00.02_Navigating_Excel'])]
    wd2_lc_df = pd.DataFrame(wd2_oc.endpoint.value_counts()).reset_index()[:49].sort_values(by = "endpoint", ascending=True).head()
    return wd2_mc_df, wd2_lc_df

In [ ]:
l, a = webdev2_ml(wd2_oc)

In [ ]:
def webdev2_viz(mc, lc):
    # Create two separate subplots
    fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(8, 6))


    # Plot for mc
    ax1.plot(mc['index'], mc['endpoint'])
    ax1.set_xlabel('Lessons')
    ax1.set_ylabel('Occurences')
    ax1.set_title('Most Common Lessons that Web Development 2.0 Students Accessed Outside of their Cohort')


    # Plot for lc
    ax2.plot(lc['index'], lc['endpoint'])
    ax2.set_xlabel('Lessons')
    ax2.set_ylabel('Occurences')
    ax2.set_title('Least Common Lessons that Web Development 2.0 Students Accessed Outside of their Cohort')



    # Adjust spacing between subplots
    plt.tight_layout()

    # Display the plots
    plt.show()

In [ ]:
webdev2_viz(l,a)

In [ ]:
# most common for wed dev 2 is spring 
# least common databases

# removing blanks and getting top 5 
wd2_oc = wd2_oc[wd2_oc.endpoint != '']
wd2_mc = wd2_oc.endpoint.value_counts().head()

In [ ]:
# least common df
wd2_oc = wd2_oc[~wd2_oc.endpoint.isin(['further-reading', 'login', 'setup', 'introduction', '2.00.02_Navigating_Excel'])]
wd2_ls_df = pd.DataFrame(wd2_oc.endpoint.value_counts()).reset_index()[:49].sort_values(by = "endpoint", ascending=True).head()

In [ ]:
wd2_ls_df

In [ ]:
def ds_ml(ds_oc):
    # removing blanks, search, and appendix and getting top 5 
    ds_oc = ds_oc[~ds_oc.endpoint.isin(['', 'appendix', 'search'])]
    ds_mc_df = pd.DataFrame(ds_oc.endpoint.value_counts().head()).reset_index()
    ds_lc_df = pd.DataFrame(ds_oc.endpoint.value_counts()).reset_index()[:26].sort_values(by = "endpoint", ascending=True).head()

    return ds_mc_df, ds_lc_df

In [ ]:
ds_mc_df, ds_lc_df = ds_ml(ds_oc)

In [ ]:
ds_viz(ds_mc_df, ds_lc_df)

In [ ]:
# most common for data science is classification
# least commom storytelling

# removing blanks, search, and appendix and getting top 5 
ds_oc = ds_oc[~ds_oc.endpoint.isin(['', 'appendix', 'search'])]
ds_mc_df = pd.DataFrame(ds_oc.endpoint.value_counts().head())

In [ ]:
ds_lc_df = pd.DataFrame(ds_oc.endpoint.value_counts()).reset_index()[:26].sort_values(by = "endpoint", ascending=True).head()

ds_lc_df

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def ds_viz(ds_mc, ds_lc):
    # Create two separate subplots
    fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(8, 6))


    # Plot for ds_mc
    ax1.plot(ds_mc['index'], ds_mc['endpoint'])
    ax1.set_xlabel('Lessons')
    ax1.set_ylabel('Occurences')
    ax1.set_title('Most Common Lessons that Data Science Students Accessed Outside of their Cohort')


    # Plot for ds_lc
    ax2.plot(ds_lc['index'], ds_lc['endpoint'])
    ax2.set_xlabel('Lessons')
    ax2.set_ylabel('Occurences')
    ax2.set_title('Least Common Lessons that Data Science Students Accessed Outside of their Cohort')



    # Adjust spacing between subplots
    plt.tight_layout()

    # Display the plots
    plt.show()

In [ ]:
ds_viz(ds_mc_df, ds_lc_df)

In [ ]:
def saoc_df(df):
    '''
    Filter the DataFrame to return students who accessed outside their cohort.

    Parameters:
        df (pandas.DataFrame): The input DataFrame containing student data.

    Returns:
        pandas.DataFrame: A DataFrame containing students who accessed outside their cohort.
    '''
    # list of student ids  
    students = df[df.staff == 0]
    student_ids = list(students.user_id.unique())

    student_accessed_outside_cohort = students[students.outside_cohort == 1]
    
    # Remove 'content/' from values in 'endpoint'
    student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].str.replace('content/', '')
    
    # Remove '/' and everything afterwards 
    student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].str.split('/').str[0]
    
    # replace nulls with 'home'
    student_accessed_outside_cohort['endpoint'] = student_accessed_outside_cohort['endpoint'].fillna('home')
    
    # program_id 1
    wd1_oc = student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 1]
    
    # program_id 2
    wd2_oc =student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 2]

    # program_id 3
    ds_oc = student_accessed_outside_cohort[student_accessed_outside_cohort.program_id == 3]
    
    return wd1_oc, wd2_oc, ds_oc
   

def webdev1_ml(wd1_oc):
    '''
    Analyze web development lessons and return the most common and least common lessons.

    Parameters:
        wd1_oc (pandas.DataFrame): The input DataFrame containing web development lesson data.

    Returns:
        tuple: A tuple containing two DataFrames:
            - The most common lessons DataFrame with columns 'Lesson' and 'Occurrences'.
            - The least common lessons DataFrame with columns 'Lesson' and 'Occurrences'.
    '''
    
    # most common lesson
    wd1_mc_df = pd.DataFrame(wd1_oc.endpoint.value_counts().head()).reset_index()
    wd1_mc_df.columns =[["Lesson", "Occurrences"]]
    # removed not lessons
    wd1_oc = wd1_oc[~wd1_oc.endpoint.isin(['search', 'introduction-to-javascript.html'])]

    # create df of least common lessons
    wd1_ls_df = pd.DataFrame(wd1_oc.endpoint.value_counts()).reset_index()[:27].sort_values(by = "endpoint", ascending=True).head()
    wd1_ls_df.columns =[["Lesson", "Occurrences"]]
    return wd1_mc_df, wd1_ls_df
    

def webdev_viz(mc, lc):
    # Create two separate subplots
    fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(8, 6))


    # Plot for mc
    ax1.plot(mc['index'], mc['endpoint'])
    ax1.set_xlabel('Lessons')
    ax1.set_ylabel('Occurences')
    ax1.set_title('Most Common Lessons that Web Development Students Accessed Outside of their Cohort')


    # Plot for lc
    ax2.plot(lc['index'], lc['endpoint'])
    ax2.set_xlabel('Lessons')
    ax2.set_ylabel('Occurences')
    ax2.set_title('Least Common Lessons that Web Development Students Accessed Outside of their Cohort')



    # Adjust spacing between subplots
    plt.tight_layout()

    # Display the plots
    plt.show()


def webdev2_ml(wd2_oc):
    '''
    Analyze web development lessons and return the most common and least common lessons.

    Parameters:
        wd1_oc (pandas.DataFrame): The input DataFrame containing web development lesson data.

    Returns:
        tuple: A tuple containing two DataFrames:
            - The most common lessons DataFrame with columns 'Lesson' and 'Occurrences'.
            - The least common lessons DataFrame with columns 'Lesson' and 'Occurrences'.
    '''
    
    # most common
    # removing blanks and getting top 5 
    wd2_oc = wd2_oc[wd2_oc.endpoint != '']
    wd2_mc_df = pd.DataFrame(wd2_oc.endpoint.value_counts().head()).reset_index()
    # least common df
    wd2_oc = wd2_oc[~wd2_oc.endpoint.isin(['further-reading', 'login', 'setup', 'introduction', '2.00.02_Navigating_Excel'])]
    wd2_lc_df = pd.DataFrame(wd2_oc.endpoint.value_counts()).reset_index()[:49].sort_values(by = "endpoint", ascending=True).head()
    return wd2_mc_df, wd2_lc_df

def webdev2_viz(mc, lc):
    # Create two separate subplots
    fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(8, 6))


    # Plot for mc
    ax1.plot(mc['index'], mc['endpoint'])
    ax1.set_xlabel('Lessons')
    ax1.set_ylabel('Occurences')
    ax1.set_title('Most Common Lessons that Web Development 2.0 Students Accessed Outside of their Cohort')


    # Plot for lc
    ax2.plot(lc['index'], lc['endpoint'])
    ax2.set_xlabel('Lessons')
    ax2.set_ylabel('Occurences')
    ax2.set_title('Least Common Lessons that Web Development 2.0 Students Accessed Outside of their Cohort')



    # Adjust spacing between subplots
    plt.tight_layout()

    # Display the plots
    plt.show()


def ds_ml(ds_oc):
    # removing blanks, search, and appendix and getting top 5 
    ds_oc = ds_oc[~ds_oc.endpoint.isin(['', 'appendix', 'search'])]
    # most lesson
    ds_mc_df = pd.DataFrame(ds_oc.endpoint.value_counts().head()).reset_index()
    # least lesson
    ds_lc_df = pd.DataFrame(ds_oc.endpoint.value_counts()).reset_index()[:26].sort_values(by = "endpoint", ascending=True).head()

    return ds_mc_df, ds_lc_df

def ds_viz(ds_mc, ds_lc):
    # Create two separate subplots
    fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(8, 6))


    # Plot for ds_mc
    ax1.plot(ds_mc['index'], ds_mc['endpoint'])
    ax1.set_xlabel('Lessons')
    ax1.set_ylabel('Occurences')
    ax1.set_title('Most Common Lessons that Data Science Students Accessed Outside of their Cohort')


    # Plot for ds_lc
    ax2.plot(ds_lc['index'], ds_lc['endpoint'])
    ax2.set_xlabel('Lessons')
    ax2.set_ylabel('Occurences')
    ax2.set_title('Least Common Lessons that Data Science Students Accessed Outside of their Cohort')



    # Adjust spacing between subplots
    plt.tight_layout()

    # Display the plots
    plt.show()