In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

import wrangle as w

In [9]:
# acquire data
w.acquire_df()
df = w.prepare_df()

In [10]:
df[df.user_id == 0]

Empty DataFrame
Columns: [cohort_id, cohort_name, start_date, end_date, program_id, dates, time, endpoint, user_id, ip]
Index: []

In [22]:
# preview data
df[df.cohort_id == 1].user_id.unique()

array([ 11,  60,  64,  95, 141, 146, 148, 170, 209, 211, 212, 248, 257,
       312, 313, 316, 398, 402])

In [ ]:
# check for staff

In [12]:
# df info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900222 entries, 0 to 900221
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   cohort_id    900222 non-null  float64
 1   cohort_name  847329 non-null  object
 2   start_date   847329 non-null  datetime64[ns]
 3   end_date     847329 non-null  datetime64[ns]
 4   program_id   847329 non-null  float64
 5   dates        900222 non-null  datetime64[ns]
 6   time         900222 non-null  object
 7   endpoint     900222 non-null  object
 8   user_id      900222 non-null  int64
 9   ip           900222 non-null  object
dtypes: datetime64[ns](3), float64(2), int64(1), object(4)
memory usage: 75.5+ MB

In [13]:
# df describe 
df.describe()

           cohort_id     program_id        user_id
count  900222.000000  847329.000000  900222.000000
mean       45.651338       2.086003     458.825565
std        33.800052       0.388230     249.296870
min         0.000000       1.000000       1.000000
25%        26.000000       2.000000     269.000000
50%        33.000000       2.000000     475.000000
75%        57.000000       2.000000     660.000000
max       139.000000       4.000000     981.000000

In [14]:
# view nulls
df.isnull().sum()

# 1 null in endpoint and 52893 in cohort

cohort_id          0
cohort_name    52893
start_date     52893
end_date       52893
program_id     52893
dates              0
time               0
endpoint           0
user_id            0
ip                 0
dtype: int64

In [15]:
# view endpoint null 2020-04-08 09:25:18 user: 586 cohort: 55.0 ip: 72.177.240.51
df[df.endpoint.isnull()]

Empty DataFrame
Columns: [cohort_id, cohort_name, start_date, end_date, program_id, dates, time, endpoint, user_id, ip]
Index: []

In [26]:
user_cohort_null_list

array([], dtype=int64)

In [23]:
# view cohort nulls 78 unique users with cohort nulls -- possibly instructors or admin
cohort_nulls = df[df.cohort_id.isnull()]
user_cohort_null_list = cohort_nulls.user_id.unique()

In [27]:
# checks to see if user id has nothing but nans for cohort and places into nan_only list or nan_and_other
nan_only = []
nan_and_other = []

for u in user_cohort_null_list:
    null_cohort = df[df.user_id == u].cohort.unique()
    
    if np.isnan(null_cohort).all():
        nan_only.append(u)
    else:
        nan_and_other.append(u)

In [28]:
# there are 8 
len(nan_and_other)
nan_and_other

[]

In [ ]:
# check ids and cohorts
for u in nan_and_other:
    print(u)
    print(df[df.user_id == u].cohort.unique())
    
# 358, 375, 644, 744 only had one cohort
# all other ids have multiple cohorts

In [ ]:
# there are 70 ids with no cohort attached
len(nan_only)

**Question**
> If someone graduates will they always have that same cohort attached to them even after graduation?

> how many cohorts are there?

> how many people are in each cohort?

In [42]:
# how many cohorts are there?
# 47 cohorts minus the nan

# list of cohorts
cohort_list = list(df.cohort_id.unique())

In [33]:
# cohort names ids
cohort_df = pd.read_csv("curriculum_logs_cohorts.csv")

In [36]:
# how many people are in each cohort?
# number cohort and number of users
for n in cohort_list:
    print(f"Cohort: {n}")
    users_of_cohort = df[df.cohort_name == n].user_id.unique()
    print(f"Number of Users: {len(users_of_cohort)}")

Cohort: Hampton
Number of Users: 5
Cohort: Teddy
Number of Users: 35
Cohort: Sequoia
Number of Users: 28
Cohort: Arches
Number of Users: 18
Cohort: Niagara
Number of Users: 8
Cohort: Pinnacles
Number of Users: 14
Cohort: Quincy
Number of Users: 17
Cohort: nan
Number of Users: 0
Cohort: Kings
Number of Users: 10
Cohort: Lassen
Number of Users: 13
Cohort: Mammoth
Number of Users: 5
Cohort: Glacier
Number of Users: 6
Cohort: Denali
Number of Users: 1
Cohort: Joshua
Number of Users: 5
Cohort: Olympic
Number of Users: 14
Cohort: Ulysses
Number of Users: 33
Cohort: Badlands
Number of Users: 3
Cohort: Apollo
Number of Users: 1
Cohort: Ike
Number of Users: 5
Cohort: Voyageurs
Number of Users: 34
Cohort: Wrangell
Number of Users: 26
Cohort: Xanadu
Number of Users: 20
Cohort: Franklin
Number of Users: 2
Cohort: Yosemite
Number of Users: 29
Cohort: Staff
Number of Users: 51
Cohort: Zion
Number of Users: 25
Cohort: Andromeda
Number of Users: 28
Cohort: Betelgeuse
Number of Users: 22
Cohort: Ceres
Number of Users: 29
Cohort: Bayes
Number of Users: 23
Cohort: Deimos
Number of Users: 27
Cohort: Europa
Number of Users: 28
Cohort: Fortuna
Number of Users: 29
Cohort: Curie
Number of Users: 21
Cohort: Apex
Number of Users: 24
Cohort: Ganymede
Number of Users: 29
Cohort: Everglades
Number of Users: 1
Cohort: Hyperion
Number of Users: 23
Cohort: Darden
Number of Users: 29
Cohort: Bash
Number of Users: 23
Cohort: Jupiter
Number of Users: 33
Cohort: Kalypso
Number of Users: 23
Cohort: Luna
Number of Users: 20
Cohort: Easley
Number of Users: 17
Cohort: Marco
Number of Users: 31
Cohort: Neptune
Number of Users: 37
Cohort: Florence
Number of Users: 21
Cohort: Oberon
Number of Users: 26

In [49]:
df.user_id.nunique()

981

In [48]:
df.user_id.max()

981

In [ ]:
df.start_date

In [43]:
# user_ids in each cohort
cohort_dict = {}

for n in cohort_list:
    users_of_cohort = df[df.cohort_id 1== n].user_id.unique()
    users_of_cohort = list(users_of_cohort) 
    cohort_dict[n] = users_of_cohort

cohort_dict

{8.0: [1, 114, 150, 174, 646],
 22.0: [2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  12,
  13,
  14,
  18,
  19,
  20,
  23,
  25,
  29,
  30,
  31,
  32,
  34,
  35,
  39,
  43,
  44,
  46,
  99,
  138,
  142,
  154,
  155,
  180,
  254,
  284,
  459],
 21.0: [10,
  15,
  16,
  17,
  22,
  24,
  27,
  28,
  33,
  36,
  38,
  41,
  42,
  45,
  47,
  49,
  52,
  55,
  56,
  57,
  65,
  110,
  115,
  153,
  175,
  255,
  286,
  346],
 1.0: [11,
  60,
  64,
  95,
  141,
  146,
  148,
  170,
  209,
  211,
  212,
  248,
  257,
  312,
  313,
  316,
  398,
  402],
 16.0: [21, 40, 97, 143, 165, 181, 216, 322],
 18.0: [26, 67, 76, 81, 83, 84, 91, 104, 108, 162, 178, 179, 217, 611],
 19.0: [37,
  70,
  71,
  75,
  87,
  92,
  94,
  96,
  105,
  109,
  112,
  163,
  311,
  399,
  428,
  486,
  610],
 0.0: [48,
  54,
  58,
  59,
  61,
  62,
  63,
  73,
  74,
  78,
  79,
  86,
  88,
  89,
  100,
  103,
  111,
  137,
  166,
  176,
  213,
  247,
  317,
  349,
  350,
  351,
  352,
  353,
  354,
  355,
  356,
  357,
  358,
  359,
  360,
  361,
  362,
  363,
  364,
  365,
  366,
  367,
  368,
  369,
  372,
  375,
  403,
  406,
  429,
  544,
  64,
  713,
  714,
  715,
  716,
  717,
  718,
  663,
  719,
  720,
  721,
  722,
  723,
  724,
  725,
  726,
  727,
  728,
  729,
  346,
  731,
  736,
  644,
  744,
  782,
  810,
  814,
  815],
 13.0: [50, 51, 66, 68, 93, 113, 156, 167, 118, 318],
 14.0: [53, 69, 80, 82, 90, 98, 139, 147, 149, 246, 593, 647, 852],
 15.0: [72, 107, 164, 172, 427],
 7.0: [77, 169, 173, 88, 348, 513],
 4.0: [85],
 12.0: [101, 161, 214, 88, 740],
 17.0: [102, 106, 140, 151, 168, 210, 241, 242, 281, 314, 462, 465, 419, 952],
 23.0: [25,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  145,
  157,
  158,
  159,
  160,
  171,
  243,
  244,
  252,
  285,
  319],
 2.0: [144, 280, 396],
 9.0: [152],
 11.0: [177, 245, 88, 279, 463],
 24.0: [182,
  183,
  184,
  185,
  186,
  187,
  188,
  189,
  190,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  199,
  200,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  215,
  249,
  250,
  251,
  253,
  278,
  574],
 25.0: [218,
  219,
  220,
  221,
  222,
  223,
  224,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  232,
  233,
  234,
  235,
  236,
  237,
  238,
  239,
  240,
  256,
  258,
  282],
 26.0: [259,
  260,
  261,
  262,
  263,
  264,
  265,
  266,
  267,
  268,
  269,
  270,
  271,
  272,
  273,
  274,
  275,
  276,
  277,
  315],
 6.0: [283, 405],
 27.0: [287,
  288,
  289,
  290,
  291,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  303,
  304,
  305,
  306,
  307,
  308,
  309,
  310,
  320,
  321,
  371,
  401,
  651],
 28.0: [53,
  314,
  40,
  64,
  11,
  211,
  1,
  312,
  146,
  248,
  370,
  397,
  404,
  257,
  428,
  461,
  37,
  514,
  539,
  545,
  546,
  572,
  315,
  41,
  592,
  618,
  620,
  521,
  652,
  502,
  653,
  480,
  738,
  742,
  745,
  813,
  430,
  816,
  581,
  854,
  855,
  744,
  893,
  148,
  894,
  513,
  630,
  308,
  951,
  953,
  980],
 29.0: [323,
  324,
  325,
  326,
  327,
  328,
  329,
  330,
  331,
  332,
  333,
  334,
  335,
  336,
  337,
  338,
  339,
  340,
  341,
  342,
  343,
  344,
  345,
  346,
  347],
 31.0: [373,
  374,
  376,
  377,
  378,
  379,
  380,
  381,
  382,
  383,
  384,
  385,
  386,
  387,
  388,
  389,
  390,
  391,
  392,
  393,
  394,
  395,
  375,
  400,
  430,
  431,
  432,
  464],
 32.0: [407,
  408,
  409,
  410,
  411,
  412,
  413,
  414,
  415,
  416,
  417,
  418,
  419,
  420,
  421,
  422,
  423,
  424,
  425,
  426,
  573,
  853],
 33.0: [433,
  434,
  435,
  436,
  437,
  438,
  439,
  440,
  441,
  442,
  443,
  444,
  445,
  446,
  447,
  448,
  449,
  450,
  451,
  452,
  453,
  454,
  455,
  456,
  457,
  458,
  460,
  515,
  543],
 34.0: [466,
  467,
  468,
  469,
  470,
  471,
  472,
  473,
  474,
  475,
  476,
  477,
  478,
  479,
  480,
  481,
  482,
  483,
  484,
  485,
  358,
  487,
  650],
 51.0: [488,
  489,
  490,
  491,
  492,
  493,
  494,
  495,
  496,
  497,
  498,
  499,
  500,
  501,
  502,
  503,
  504,
  505,
  506,
  507,
  508,
  509,
  510,
  511,
  512,
  777,
  778],
 52.0: [516,
  517,
  518,
  519,
  520,
  521,
  522,
  523,
  524,
  525,
  526,
  527,
  528,
  529,
  530,
  531,
  532,
  533,
  534,
  535,
  536,
  537,
  538,
  539,
  540,
  541,
  542,
  64],
 53.0: [120,
  547,
  548,
  549,
  550,
  551,
  552,
  553,
  554,
  555,
  556,
  557,
  558,
  559,
  560,
  561,
  562,
  563,
  564,
  565,
  566,
  567,
  568,
  569,
  570,
  571,
  572,
  654,
  857],
 55.0: [575,
  576,
  577,
  578,
  579,
  580,
  581,
  582,
  583,
  584,
  585,
  586,
  587,
  588,
  589,
  590,
  591,
  616,
  617,
  746,
  787],
 56.0: [594,
  595,
  596,
  597,
  598,
  599,
  600,
  601,
  602,
  603,
  604,
  605,
  606,
  607,
  608,
  609,
  612,
  613,
  614,
  615,
  648,
  779,
  786,
  817],
 57.0: [619,
  621,
  622,
  623,
  624,
  625,
  626,
  627,
  628,
  629,
  630,
  631,
  632,
  633,
  634,
  635,
  636,
  637,
  638,
  639,
  640,
  641,
  642,
  643,
  644,
  645,
  677,
  741,
  809],
 5.0: [649],
 58.0: [655,
  656,
  657,
  658,
  659,
  660,
  661,
  662,
  663,
  664,
  665,
  666,
  667,
  668,
  669,
  670,
  671,
  672,
  673,
  674,
  675,
  676,
  812],
 59.0: [678,
  679,
  680,
  681,
  682,
  683,
  684,
  685,
  686,
  687,
  688,
  689,
  690,
  691,
  692,
  693,
  694,
  695,
  268,
  696,
  697,
  698,
  699,
  739,
  780,
  781,
  783,
  785,
  859],
 61.0: [700,
  701,
  702,
  703,
  704,
  705,
  706,
  707,
  708,
  709,
  710,
  711,
  712,
  730,
  732,
  733,
  734,
  735,
  737,
  743,
  747,
  784,
  860],
 62.0: [748,
  749,
  750,
  751,
  752,
  753,
  754,
  755,
  756,
  757,
  758,
  759,
  760,
  761,
  762,
  763,
  764,
  765,
  766,
  767,
  768,
  769,
  770,
  771,
  772,
  773,
  774,
  775,
  776,
  806,
  818,
  832,
  856],
 132.0: [788,
  789,
  790,
  791,
  792,
  793,
  794,
  795,
  796,
  797,
  798,
  799,
  800,
  801,
  802,
  803,
  804,
  805,
  807,
  808,
  522,
  811,
  858],
 134.0: [819,
  820,
  821,
  822,
  823,
  824,
  825,
  826,
  827,
  828,
  829,
  830,
  831,
  833,
  834,
  663,
  707,
  850,
  752,
  892],
 133.0: [835,
  836,
  837,
  838,
  839,
  840,
  841,
  842,
  843,
  844,
  845,
  846,
  143,
  847,
  848,
  849,
  851],
 135.0: [861,
  862,
  863,
  864,
  865,
  866,
  867,
  868,
  869,
  870,
  871,
  872,
  873,
  874,
  875,
  876,
  877,
  878,
  879,
  880,
  881,
  882,
  883,
  884,
  885,
  886,
  887,
  888,
  889,
  890,
  891],
 138.0: [895,
  915,
  916,
  917,
  918,
  919,
  920,
  921,
  922,
  923,
  924,
  925,
  926,
  927,
  928,
  929,
  930,
  931,
  932,
  933,
  934,
  935,
  936,
  937,
  938,
  939,
  940,
  941,
  942,
  943,
  944,
  945,
  946,
  947,
  948,
  950,
  981],
 137.0: [896,
  897,
  898,
  899,
  900,
  901,
  902,
  903,
  904,
  905,
  906,
  907,
  908,
  909,
  910,
  911,
  912,
  913,
  914,
  895,
  949],
 139.0: [954,
  955,
  956,
  957,
  958,
  959,
  960,
  961,
  962,
  963,
  964,
  965,
  966,
  967,
  968,
  969,
  970,
  971,
  972,
  973,
  974,
  975,
  976,
  977,
  978,
  979]}

In [ ]:
# change cohort nulls to 0
df.cohort = df.cohort.fillna(0)

In [ ]:
# drop 1 null in endpoint
df = df.dropna()

In [ ]:
# Remove '\t\t' character from col1
df.dates = df.dates.str.replace("\t\t", "")
df

In [ ]:
# check nulls
df.isnull().sum()

In [ ]:
pd.set_option('display.max_colwidth',1000)
# finding unique pages -- 2313 pages
df.endpoint.value_counts()

In [ ]:
js_result = df[df['endpoint'].str.startswith('javascript')]

In [ ]:
js_result.columns

In [ ]:
# rename cohort to id to match 
temp_df = df.copy()

In [ ]:
# cohort names ids
cohort_df = pd.read_csv("curriculum_logs_cohorts.csv")

In [ ]:
cohort_df.columns

In [ ]:
cohort_df = cohort_df.rename(columns = {"id": "cohort"})

In [ ]:
cohort_df

In [ ]:
temp_df

In [ ]:
df = pd.merge(cohort_df, temp_df,  on=['cohort'], how='inner')

In [ ]:
df

In [ ]:
# rename columns 'cohort', 'cohort_name', 'time', 'endpoint', 'user_id', 'cohort', 'ip' 'start_date', 'end_date', 'program_id'
df = df.drop(columns=[ 'slack',  'created_at', 'updated_at', 'deleted_at'])

In [ ]:
df.info()

In [ ]:
df.start_date = df.start_date.astype("datetime64")
df.end_date = df.end_date.astype("datetime64")

In [ ]:
# update dtype for dates to datetime64
df.dates = df.dates.astype("datetime64")

In [ ]:
df.info()

In [ ]:
def prepare_df():
    # read df
    df = w.acquire_df()
    # ----handle nulls
    # change cohort nulls to 0
    df.cohort = df.cohort.fillna(0)
    
    

    # drop 1 null in endpoint
    df = df.dropna()

    # Remove '\t\t' character from col1
    df.dates = df.dates.str.replace("\t\t", "")
    

    # read cohort df
    cohort_df = pd.read_csv("curriculum_logs_cohorts.csv")
    
    # ----- merge tables
    # rename id to cohort to match
    cohort_df = cohort_df.rename(columns = {"id": "cohort"})

    # merge on cohort
    df = pd.merge(cohort_df, df,  on=['cohort'], how='right')

    # drop columns
    df = df.drop(columns=[ 'slack',  'created_at', 'updated_at', 'deleted_at'])

    # update dtype for dates to datetime64
    df.start_date = df.start_date.astype("datetime64")
    df.end_date = df.end_date.astype("datetime64")
    df.dates = df.dates.astype("datetime64")

    return df

In [ ]:
prepare_df()

In [ ]:
w.prepare_df()